* {
  box-sizing: border-box;
}

div {
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

h2 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
}

.header {
  display: flex;
  align-items: center;
  justify-content:space-between;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid;
  padding-bottom: 20px;
  width: 100%;

}

.logo {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.header p {
  color: MediumAquamarine;
  clear: right;
}

.header img {
  float: left;
}

.nav a {
  color: black;
}

.header .nav span {
  display: inline-block;
  margin: 20px;
}

.column {
  display: flex;
  align-content: center;
  border: 1px solid;
  justify-content: center;
}

.large {
  display: flex;
  flex-direction: column;
  width: 630px;
  margin: 10px;
}

.large .top .image {
  background-image: url(../images/img-story-main.png);
  display: flex;
  height: 300px;
}

.bottom {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.right {
  width: 310px;
  display: inline-block;
}

.left {
  width: 310px;
  display: inline-block;
}

.bottom .left .image {
  display: flex;
  background-image: url(../images/img-story-2.png);
  height: 300px;
  text-align: center;
}

.bottom .right .image {
  display: flex;
  height: 300px;
  text-align: center;
  background-image: url(../images/img-story-3.png);
}

.medium {
  width: 300px;
  margin: 10px;
}

.medium .image {
  background-image: url(../images/img-story-1.png);
  height: 300px;
  text-align: center;
}

.small {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 240px;
  margin: 10px;
}

.small h3 {
  text-align: center;
}

.small span {
  display: block;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  padding: 10px 20px;
  border-bottom: 1px solid;
}

.span .gray {
  display: block;
}

.image h2 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.image h1 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}

#footer {
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
}

#footer .container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#footer h4 {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  display: inline-block;
  width: 100px;
}

#footer_nav {
  display: inline-flex;
  justify-content: center;
  justify-content: space-around;
  margin: auto;

}

#footer_nav .span {
  margin: 20px;
}

footer .container .copy {
  font-family: Verdana;
  font-size: 12px;
}
